<div class="health-coaching-bg-image">

    <!-- Main Banner Area -->
    <section
        class="health-coaching-banner"
        [class.dark-health-coaching-banner]="themeService.isDark()"
    >
        <div class="container-fluid">
            <div class="health-coaching-banner-slides">
                <owl-carousel-o [options]="healthCoachingBannerSlides" >
                    <ng-template carouselSlide>
                        <img src="assets/img/slider/bilgilendirme.jpg" alt="">
                    </ng-template>
                    <ng-template carouselSlide>
                        <img src="assets/img/slider/destek.jpg" alt="">
                    </ng-template>
                    <ng-template carouselSlide>
                        <img src="assets/img/slider/organizasyon.jpg" alt="">
                    </ng-template>
                </owl-carousel-o>
            </div>
        </div>
    </section>

    <!-- Featured Area -->
    <section
        class="featured-area pt-100 pb-70"
        [class.dark-featured-area]="themeService.isDark()"
    >
        <div class="container">
            <div class="section-title">
                <h2 class="playfair-display">Projelerimiz</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-featured-box">
                        <div class="icon">
                            <img src="assets/img/ivati-logo.png" style="border-radius: 15px;" alt="">
                        </div>
                        <h3 class="playfair-display">Ivati Reisen</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                        <a href="https://ivatireisen.ch/" target="_blank" class="link-btn">Şimdi ziyaret et...</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-featured-box">
                        <div class="icon">
                            <img src="assets/img/newlogo.png" alt="">
                        </div>
                        <h3 class="playfair-display">Brothers Camp</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                        <a href="https://brotherscamp.ch/Home/Index" target="_blank" class="link-btn">Şimdi ziyaret et...</a>
                    </div>
                </div>
                <!-- <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-featured-box">
                        <div class="icon">
                            <i class="flaticon-heart-rate-monitor"></i>
                        </div>
                        <h3 class="playfair-display">Find Your Balance</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                        <a routerLink="/" class="link-btn">Start Now</a>
                    </div>
                </div> -->
            </div>
        </div>
    </section>

</div>